<div class="box">
	<h3>Article 1 - Behavior</h3>
	    <div class="row-1">

		    <figure>
		    <img src="img/cat.jpg"> 
		    <figcaption>
		    <p>Kitten is friend of human</p>
		    </figcaption>
		    </figure> 
		
		<div class="para-1">
		    <p>Outdoor cats are active both day and night, although they tend to be slightly more active at night. The timing of cats' activity is quite flexible and varied, which means house cats may be more active in the morning and evening, as a response to greater human activity at these times. Although they spend the majority of their time in the vicinity of their home, housecats can range many hundreds of meters from this central point, and are known to establish territories that vary considerably in size, in one study ranging from 7 to 28 hectares (17–69 acres).

			Cats conserve energy by sleeping more than most animals, especially as they grow older. The daily duration of sleep varies, usually between 12 and 16 hours, with 13 and 14 being the average. Some cats can sleep as much as 20 hours. The term "cat nap" for a short rest refers to the cat's tendency to fall asleep (lightly) for a brief period. While asleep, cats experience short periods of rapid eye movement sleep often accompanied by muscle twitches, which suggests they are dreaming. <a href="https://en.wikipedia.org/wiki/Cat#Behavior">(https://en.wikipedia.org/wiki/Cat#Behavior)</a></p>
 		</div>
        </div>
        
        <div class="row">
        <div class="col col-6">
          <h2>Article 2 - Communication</h2>
          <p>Domestic cats use many vocalizations for communication, including purring, trilling, hissing, growling/snarling, grunting, and several different forms of meowing. (By contrast, feral cats are generally silent.):208 Their types of body language, including position of ears and tail, relaxation of the whole body, and kneading of the paws, are all indicators of mood. The tail and ears are particularly important social signal mechanisms in cats; for example, a raised tail acts as a friendly greeting, and flattened ears indicates hostility. Tail-raising also indicates the cat's position in the group's social hierarchy, with dominant individuals raising their tails less often than subordinate animals. Nose-to-nose touching is also a common greeting and may be followed by social grooming, which is solicited by one of the cats raising and tilting its head.
		 <a href="https://en.wikipedia.org/wiki/Cat#Communication">(https://en.wikipedia.org/wiki/Cat#Behavior)</a></p>
        </div>
        <div class="col col-6">
	    <h2>Article 3 - Habitats</h2>
	    <p>Cats are a cosmopolitan species and are found across much of the world. Geneticist Stephen James O'Brien, of the National Cancer Institute in Frederick, Maryland, remarked on how successful cats have been in evolutionary terms: "Cats are one of evolution's most charismatic creatures. They can live on the highest mountains and in the hottest deserts." They are extremely adaptable and are now present on all continents except Antarctica, and on 118 of the 131 main groups of islands—even on isolated islands such as the Kerguelen Islands.
	    Feral cats can live in forests, grasslands, tundra, coastal areas, agricultural land, scrublands, urban areas, and wetlands.[200] Their habitats even include small oceanic islands with no human inhabitants.
		<a href="https://en.wikipedia.org/wiki/Cat#Habitats">(https://en.wikipedia.org/wiki/Cat#Behavior)</a></p>
		</div>
	    </div>

</div>
